<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" type="text/css" href="~/Content/ha-datetimepicker.css">
    @Styles.Render("~/Content/css")
   
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/ha-datetimepicker/ha-datetimepicker.js"></script>
    <script src="~/Scripts/wizard.handler.js"></script>

</head>


<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <a class="navbar-brand" href="/">
            <img class="navbar-brand-logo" src="~/Content/images/logo-wizard.png" height="30" alt="brick wizard logo" />
        </a>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home",new { area=""},null)</li>
                    <li>@Html.ActionLink("Demo 1 (normal Routing)", "PersonWizard", "Person", new { area = "" },null)</li>
                    <li>@Html.ActionLink("Demo 2 (area Routing)", "PersonWizard", "PersonForArea", new { area = "People" },null)</li>
                </ul>
            </div>
        </div>
    </div>

    <div  class="container body-content">
        <div class="main-content">
            @RenderBody()
        </div>
        <footer class="navbar-default navbar-fixed-bottom">
            <div class="footer-content">
                <strong>&copy; @DateTime.Now.Year - Brickable</strong>
            </div>
        </footer>

    </div>




    @RenderSection("scripts", required: false)


</body>

</html>
