@model WizardDemo.Models.PersonViewModel

@using WizardDemo.HtmlHelpers

<div id="form-container">
    @Html.Partial("NavBarDefault", Model.NavBar)

    @using (Ajax.BeginForm(Model.ActionName, Model.ControllerName, StandardHtmlAttributes.AjaxOptions, StandardHtmlAttributes.BrickWizardForm("person-form")))
    {
        <fieldset>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PersonAcceptTerms.AcceptTerms, StandardHtmlAttributes.Label)
                        @Html.CheckBoxFor(model => model.PersonAcceptTerms.AcceptTerms, StandardHtmlAttributes.CheckBox)
                        @Html.ValidationMessageFor(model => model.PersonAcceptTerms.AcceptTerms, "", StandardHtmlAttributes.ErrorMessage)
                    </div>
                </div>
            </div>

            @Html.BrickWizardSubmitActions(ButtonsToRender.Both, SubmitStyle.Save, Url.Action(Model.PreviousStep.ActionName, Model.ControllerName))
        </fieldset>
    }
</div>

<script>
    brickWizardHandlerInit();
</script>


