@model WizardDemo.Models.PersonViewModel

@using WizardDemo.HtmlHelpers


<div class="main-container" data-namespace="person-form">
    <div id="form-container">
        @Html.Partial("NavBarDefault", Model.NavBar, new ViewDataDictionary { { "ControllerName", Model.ControllerName } })

        @using (Ajax.BeginForm(Model.ActionName, Model.ControllerName, StandardHtmlAttributes.AjaxOptions, StandardHtmlAttributes.BrickWizardForm("person-form")))
            {
            <fieldset>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PersonBirthday.BirthDay, StandardHtmlAttributes.Label)
                            @Html.EditorFor(model => model.PersonBirthday.BirthDay, new { htmlAttributes = StandardHtmlAttributes.Input })
                            @Html.ValidationMessageFor(model => model.PersonBirthday.BirthDay, "", StandardHtmlAttributes.ErrorMessage)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PersonBirthday.Genre, StandardHtmlAttributes.Label)
                            @Html.CheckBoxFor(model => model.PersonBirthday.Genre, StandardHtmlAttributes.CheckBox)
                            @Html.ValidationMessageFor(model => model.PersonBirthday.Genre, "", StandardHtmlAttributes.ErrorMessage)
                        </div>
                    </div>
                </div>

                @Html.BrickWizardSubmitActions(ButtonsToRender.Both, SubmitStyle.Next, Url.Action(Model.PreviousStep.ActionName, Model.ControllerName))
            </fieldset>
            }
    </div>
</div>

<script>
    brickWizardHandlerInit();
    var dt = new HaDateTimePicker("#PersonBirthday_BirthDay");
    dt.options.disableTime = true;
    document.getElementById("PersonBirthday_BirthDay").addEventListener("click", function () {
        dt.show();
    });
</script>


