@model WizardDemo.Models.PersonViewModel

@using WizardDemo.HtmlHelpers

<div id="form-container">
    @Html.Partial("NavBarDefault", Model.NavBar)

    <form action="@Url.Action(Model.ActionName,Model.ControllerName, new { area = Model.AreaName })" , data-replace-target-selector="#form-container" class="brick-wizard-form">
        <fieldset>
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.FormControl(model => model.PersonStudentInfo.SchoolName, TypeOfInput.Text)
                    @Html.FormControl(model => model.PersonStudentInfo.SchoolYear, TypeOfInput.Text)
                </div>
            </div>
            @Html.BrickWizardSubmitActions(ButtonsToRender.Both, SubmitStyle.Next, Url.Action(Model.PreviousStep.ActionName, Model.ControllerName))
        </fieldset>
    </form>
    <script>
        brickWizardHandlerInit();
    </script>
</div>
